<div id="container">
	
	<div class="alert alert-error hide">There was an error uploading your file. Please try again.</div>
	
	<div id="filelist" class="margin-bottom-20">
		<span class="break"></span>
	</div>
	
	<div class="row-fluid">
		<a id="pickfiles" href="#" class="btn span3">Upload Images</a>
	</div>
	
</div>
